#!/usr/bin/make -f
# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1
#export DH_OPTIONS=-v

LDFLAGS += -lcairo

%:
	dh $@ --with autoreconf

override_dh_auto_configure:
	./waf configure --release

override_dh_auto_build:
	./waf build --release

override_dh_auto_install:
	./waf install --destdir=debian/tmp
