#!/usr/bin/make -f
# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1
#export DH_OPTIONS=-v

LDFLAGS += -lcairo

%:
	dh $@ --with autoreconf

override_dh_auto_configure:
	./waf configure --release --prefix=/usr

override_dh_auto_build:
	./waf build --release --prefix=/usr

override_dh_auto_install:
	./waf install --destdir=debian/oregano --prefix=/usr

override_dh_clean:
	dh_clean
	find waflib/ -name "*.pyc" -delete
	$(RM) .lock-waf_linux2_build
	$(RM) -r build
